body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.border { border: 1px solid #0F0; }

.app-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  overflow-y: overlay;
  overflow-x: hidden;
  background-color: #fafafa;
  padding-top: 55px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: 0;
}